@model NoMoreSusi.Web.ViewModels.Teachers.TeacherViewModel

<h2>Add</h2>

@using (Html.BeginForm("Add", "Teacher", FormMethod.Post))
{
    <div class="form-group">
        @Html.DisplayNameFor(s => s.UserName)
        @Html.TextBoxFor(s => s.UserName, new {@class = "form-control"})
    </div>

    <div class="form-group">    
        @Html.DisplayNameFor(s => s.Name)
        @Html.TextBoxFor(s => s.Name, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(s => s.Email)
        @Html.TextBoxFor(s => s.Email, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(s => s.Password)
        @Html.PasswordFor(s => s.Password, new {@class = "form-control"})
    </div>

    <div>
        @Html.SubmitButton("Save", new { @class = "btn btn-primary" })
    </div>
}