@model IEnumerable<NoMoreSusi.Web.ViewModels.Teachers.TeachersViewModel>

<h2>All</h2>
<div class="row">
    @foreach (var student in Model)
    {
        <div class="col-sm-3">
        <div class="panel panel-primary ">
    
            <p class="panel-heading">Name: @student.Name</p>
            <div class="panel-body"> 
            <p>Email: @student.Email</p>

            @using (Html.BeginForm("Delete", "Teacher", new { id = student.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Edit", "Edit", "Teacher", new { id = student.Id }, new { @class = "btn btn-sm btn-primary" })
                @Html.SubmitButton("Delete", new { @class="btn btn-sm btn-danger" })
            }
        </div>
        </div>
        </div>
    }
</div>