@model NoMoreSusi.Web.ViewModels.Students.EditStudentViewModel

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(s => s.UserId)

    <div>
        @Html.DisplayNameFor(s => s.Name)
        @Html.EditorFor(s => s.Name)
    </div>

    <div>
        @Html.DisplayNameFor(s => s.Course)
        <select name="Course">
            @foreach (var course in Model.Courses)
            {
                if (course.Text == Model.Course)
                {
                    <option value="@course.Value" selected="selected">@course.Text</option>
                }
                else
                {
                    <option value="@course.Value">@course.Text</option>
                }
            }
        </select>
    </div>

    <div>
        @Html.SubmitButton("Save", new { @class = "btn btn-primary" })
    </div>
}