@model NoMoreSusi.Web.ViewModels.Rooms.AddRoomViewModel

@{
	ViewBag.Title = "Add Room";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	@using (Html.BeginForm("Add", "Room", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.AntiForgeryToken()

		<fieldset>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.Number)
					@Html.EditorFor(m => m.Number)
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.Facultity)
					<select name="Facultity">
						@foreach (var facultity in Model.Facultities)
						{
							<option value="@facultity">@facultity.ToString()</option>
						}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.PeopleCount)
					@Html.EditorFor(m => m.PeopleCount)
				</div>
			</div>
		</fieldset>

		<input type="submit" name="name" value="Submit" class="btn btn-primary" />
	}
</div>