@model System.Collections.Generic.List<NoMoreSusi.Web.ViewModels.Rooms.RoomViewModel>

@{
	ViewBag.Title = "All Rooms";
}

<h2>@ViewBag.Title</h2>

@{
	var roomsRows = Model.Count / 4;

	if (Model.Count % 4 != 0)
	{
		roomsRows += 1;
	}

}

@for (int i = 0; i < roomsRows; i++)
{
	<div class="row">
		@for (int j = 0; j < 4; j++)
		{
			if (4 * i + j == Model.Count)
			{
				break;
			}
			
			var currentModel = Model[4 * i + j];

			<div class="col-sm-4">
				<div class="row">
					<p>Facultity: @currentModel.Facultity</p>
					<p>Room: @currentModel.Number</p>
					<p>People count: @currentModel.PeopleCount</p>
					@Html.ActionLink("Edit", "Edit", "Room", new { id = currentModel.Id }, new { @class = "btn btn-primary" })
				</div>
			</div>
		}
	</div>
}
