@model System.Collections.Generic.List<NoMoreSusi.Web.ViewModels.Rooms.RoomViewModel>

@{
	ViewBag.Title = "All Rooms";
}

<h2>@ViewBag.Title</h2>

@{
	var roomsRows = Model.Count / 4;

	if (Model.Count % 4 != 0)
	{
		roomsRows += 1;
	}

}

@for (int i = 0; i < roomsRows; i++)
{
	<div class="row">
		@for (int j = 0; j < 4; j++)
		{
			if (4 * i + j == Model.Count)
			{
				break;
			}

			var currentModel = Model[4 * i + j];

			<div class="col-sm-3">
				<div class="panel panel-primary">
					<p class="panel-heading">Facultity: @currentModel.Facultity</p>
                    <div class="panel-body">
					<p>Room: @currentModel.Number</p>
					<p>People count: @currentModel.PeopleCount</p>

					@using (Html.BeginForm("Delete", "Room", new { id = currentModel.Id }, FormMethod.Post, new{id="deleteRoomForm"}))
					{
						@Html.AntiForgeryToken()
						@Html.ActionLink("Edit", "Edit", "Room", new { id = currentModel.Id }, new { @class = "btn btn-sm btn-primary" })
						<input id="deleteBtn" type="button" name="name" value="Delete" class="btn btn-sm btn-danger" />
					}
                    </div>
				</div>
			</div>
		}
	</div>
}

@section scripts
{
<script>
	$("#deleteBtn").on("click", function() {
		if (confirm("Are you sure you want to delete this room?")) {
			$("#deleteRoomForm").submit();
		}
	});
</script>
}