@model NoMoreSusi.Web.ViewModels.Lectures.EditLectureForPageViewModel

@{
	ViewBag.Title = "Edit Lecture";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	@using (Html.BeginForm("Edit", "Lecture", FormMethod.Post, new {@class = "form-horizontal"}))
	{
		@Html.AntiForgeryToken()

		<fieldset>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Name)
					@Html.EditorFor(m => m.EditLectureViewModel.Name, String.Empty, "Name", new { htmlAttributes = new { @class="form-control"}})
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Day)
					<select class="form-control" name="Day">
						@foreach (var date in Model.Dates)
						{
							var facultityValue = (int) date;

							<option value="@facultityValue">@date</option>
						}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Hour)
					@Html.EditorFor(m => m.EditLectureViewModel.Hour, String.Empty, "Hour", new { htmlAttributes = new { @class="form-control"}})
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Length)
					@Html.EditorFor(m => m.EditLectureViewModel.Length, String.Empty, "Length", new { htmlAttributes = new { @class="form-control"}})
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.Facultities)
					<select class="form-control" id="facultities">
						@foreach (var facultity in Model.Facultities)
						{
							var facultityValue = (int) facultity;
							if (facultity == Model.EditLectureViewModel.Facultity)
							{
								<option value="@facultityValue" selected="selected">@facultity</option>
							}
							else
							{
								<option value="@facultityValue">@facultity</option>
							}
						}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.Rooms)
					<select class="form-control" id="rooms" name="RoomId">
						@foreach (var room in Model.Rooms)
						{
							if (room.Id == Model.EditLectureViewModel.RoomId)
							{
								<option value="@room.Id" selected="selected">@room.Number</option>
							}
							else
							{
								<option value="@room.Id">@room.Number</option>
							}
						}
					</select>
				</div>
			</div>

			@Html.SubmitButton("Submit", new {@class = "btn btn-primary"})
		</fieldset>
	}
</div>


@section scripts
{
	<script>
		var facultity = $("#facultities");
		var rooms = $("#rooms");

		function updateRooms() {
			$.post("/Lecture/RoomsForFacultity/" + facultity.val(), function (data) {
				rooms.empty();

				$.each(data, function (index, value) {
					var option = $("<option></option>");
					option.val(value.Id);
					option.text(value.Number);

					rooms.append(option);
				});
			});
		}

		facultity.on("change", updateRooms);
	</script>
}