@model NoMoreSusi.Web.ViewModels.Lectures.EditLectureForPageViewModel

@{
	ViewBag.Title = "Edit Lecture";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	@using (Html.BeginForm("Edit", "Room", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.AntiForgeryToken()

		<fieldset>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Name)
					@Html.EditorFor(m => m.EditLectureViewModel.Name, String.Empty, "Name")
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Day)
					<select name="Day">
						@foreach (var date in Model.Dates)
						{
							var facultityValue = (int)date;

							<option value="@facultityValue">@date</option>
						}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Hour)
					@Html.EditorFor(m => m.EditLectureViewModel.Hour, String.Empty, "Hour")
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.EditLectureViewModel.Length)
					@Html.EditorFor(m => m.EditLectureViewModel.Length, String.Empty, "Length")
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.Facultities)
					<select id="facultities">
						@foreach (var facultity in Model.Facultities)
						{
							var facultityValue = (int)facultity;
							if (facultity == Model.EditLectureViewModel.Facultity)
							{
								<option value="@facultityValue" selected="selected">@facultity</option>
							}
							else
							{
								<option value="@facultityValue">@facultity</option>
							}
						}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					@Html.LabelFor(m => m.Rooms)
					<select id="rooms" name="RoomId">
						@foreach (var room in Model.Rooms)
						{
							if (room.Id == Model.EditLectureViewModel.RoomId)
							{
								<option value="@room.Id" selected="selected">@room.Number</option>
							}
							else
							{
								<option value="@room.Id">@room.Number</option>
							}
						}
					</select>
				</div>
			</div>

			@Html.SubmitButton("Submit", new { @class = "btn btn-primary" })
		</fieldset>
	}
</div>